<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head.ejs') %>
  <body>
    <%- include('./components/navbar.ejs') %>

    <div
      class="container d-flex justify-content-center align-items-center"
      style="min-height: 100vh"
    >
      <div class="w-100" style="max-width: 600px">
        <h1 class="display fw-semibold">
          404 Page not found! <i class="fa-regular fa-face-grin-beam-sweat"></i>
        </h1>
      </div>
    </div>
  </body>
</html>
